Repository project-study-ssafy/backend, pull requests merged in 2024-11, with the labels that each got.

#24 feat: 비밀번호 변경 기능 구현
  src/main/java/com/ssafeople/backend/domain/user/domain/User.java
  src/main/java/com/ssafeople/backend/domain/user/presentation/UserController.java
  src/main/java/com/ssafeople/backend/domain/user/presentation/dto/request/ChangePasswordRequest.java
  src/main/java/com/ssafeople/backend/domain/user/presentation/dto/request/ChangePasswordVerificationRequest.java
  src/main/java/com/ssafeople/backend/domain/user/service/EmailService.java
  src/main/java/com/ssafeople/backend/domain/user/service/EmailServiceImpl.java
  src/main/java/com/ssafeople/backend/domain/user/service/UserService.java
  src/main/java/com/ssafeople/backend/domain/user/service/UserServiceImpl.java
  src/main/java/com/ssafeople/backend/global/config/WebConfig.java
  src/main/java/com/ssafeople/backend/global/exception/user/NotMatchEmailAndUsernameException.java
  src/main/java/com/ssafeople/backend/global/response/failure/ErrorCode.java
  src/test/java/com/ssafeople/backend/domain/user/service/UserServiceImplTest.java
Labels: backend, feat

#34 fix: 사용자 도메인 수정
  src/main/java/com/ssafeople/backend/domain/user/domain/User.java
  src/main/java/com/ssafeople/backend/domain/user/domain/vo/UserInfoVo.java
  src/main/java/com/ssafeople/backend/domain/user/presentation/dto/request/UserUpdateRequest.java
  src/main/java/com/ssafeople/backend/domain/user/service/UserServiceImpl.java
  src/main/resources/application.yml
  src/test/resources/application-test.yml
Labels: backend, fix

#37 feat: 메인 화면 구현
  src/main/java/com/ssafeople/backend/domain/auth/security/JwtFilter.java
  src/main/java/com/ssafeople/backend/domain/board/presentation/BoardController.java
  src/main/java/com/ssafeople/backend/global/config/SecurityConfig.java
Labels: backend, feat, fix

#38 feat: 경로 수정
  src/main/java/com/ssafeople/backend/domain/board/presentation/BoardController.java
  src/main/java/com/ssafeople/backend/global/config/SecurityConfig.java
Labels: backend, feat

#41 feat: 게시글 도메인 구현
  src/main/java/com/ssafeople/backend/domain/comment/domain/Comment.java
  src/main/java/com/ssafeople/backend/domain/post/domain/Post.java
Labels: backend, feat

#44 feat: 게시글 목록 조회 기능 구현
  src/main/java/com/ssafeople/backend/domain/board/domain/Board.java
  src/main/java/com/ssafeople/backend/domain/comment/domain/Comment.java
  src/main/java/com/ssafeople/backend/domain/post/domain/Post.java
  src/main/java/com/ssafeople/backend/domain/post/domain/repository/PostRepository.java
  src/main/java/com/ssafeople/backend/domain/post/domain/vo/PostInfoVO.java
  src/main/java/com/ssafeople/backend/domain/post/presentation/PostController.java
  src/main/java/com/ssafeople/backend/domain/post/presentation/dto/response/PostSummaryResponse.java
  src/main/java/com/ssafeople/backend/domain/post/service/PostService.java
  src/main/java/com/ssafeople/backend/domain/post/service/PostServiceImpl.java
  src/main/java/com/ssafeople/backend/global/exception/post/PostListEmptyException.java
  src/main/java/com/ssafeople/backend/global/response/failure/ErrorCode.java
  src/test/java/com/ssafeople/backend/domain/board/service/BoardServiceImplTest.java
  src/test/java/com/ssafeople/backend/domain/post/service/PostServiceImplTest.java
Labels: backend, feat

#46 feat: 게시글 작성 기능 구현
  src/main/java/com/ssafeople/backend/domain/board/domain/Board.java
  src/main/java/com/ssafeople/backend/domain/board/presentation/BoardController.java
  src/main/java/com/ssafeople/backend/domain/post/domain/Post.java
  src/main/java/com/ssafeople/backend/domain/post/presentation/PostController.java
  src/main/java/com/ssafeople/backend/domain/post/presentation/dto/request/PostWriteRequest.java
  src/main/java/com/ssafeople/backend/domain/post/service/PostService.java
  src/main/java/com/ssafeople/backend/domain/post/service/PostServiceImpl.java
  src/main/java/com/ssafeople/backend/domain/user/service/UserServiceImpl.java
  src/main/java/com/ssafeople/backend/global/config/SecurityConfig.java
  src/main/java/com/ssafeople/backend/global/config/WebConfig.java
  src/main/java/com/ssafeople/backend/global/util/CurrentUserUtil.java
  src/main/java/com/ssafeople/backend/global/util/CurrentUserUtilImpl.java
  src/test/java/com/ssafeople/backend/domain/post/service/PostServiceImplTest.java
  src/test/java/com/ssafeople/backend/domain/user/service/UserServiceImplTest.java
Labels: backend, feat
