Repository project-study-ssafy/backend, pull requests merged in 2024-12, with the labels that each got.

#49 feat: 사용자 조회 기능 구현
  src/main/java/com/ssafeople/backend/domain/post/presentation/PostController.java
  src/main/java/com/ssafeople/backend/domain/user/presentation/UserController.java
  src/main/java/com/ssafeople/backend/domain/user/presentation/dto/response/UserInfoResponse.java
  src/main/java/com/ssafeople/backend/domain/user/service/UserService.java
  src/main/java/com/ssafeople/backend/domain/user/service/UserServiceImpl.java
  src/main/java/com/ssafeople/backend/global/util/CurrentUserUtil.java
  src/main/java/com/ssafeople/backend/global/utils/user/UserUtils.java
  src/main/java/com/ssafeople/backend/global/utils/user/UserUtilsImpl.java
  src/test/java/com/ssafeople/backend/domain/user/service/UserServiceImplTest.java
Labels: backend, feat

#51 feat: 사용자 readme 작성 기능 구현
  src/main/java/com/ssafeople/backend/domain/user/domain/User.java
  src/main/java/com/ssafeople/backend/domain/user/domain/vo/UserInfoVo.java
  src/main/java/com/ssafeople/backend/domain/user/presentation/UserController.java
  src/main/java/com/ssafeople/backend/domain/user/presentation/dto/request/ChangeReadmeRequest.java
  src/main/java/com/ssafeople/backend/domain/user/presentation/dto/response/UserInfoResponse.java
  src/main/java/com/ssafeople/backend/domain/user/service/UserService.java
  src/main/java/com/ssafeople/backend/domain/user/service/UserServiceImpl.java
  src/test/java/com/ssafeople/backend/domain/user/service/UserServiceImplTest.java
Labels: backend, feat

#53 feat: 게시글 수정 기능 구현
  src/main/java/com/ssafeople/backend/domain/post/domain/Post.java
  src/main/java/com/ssafeople/backend/domain/post/domain/repository/PostRepository.java
  src/main/java/com/ssafeople/backend/domain/post/presentation/PostController.java
  src/main/java/com/ssafeople/backend/domain/post/presentation/dto/request/PostUpdateRequest.java
  src/main/java/com/ssafeople/backend/domain/post/service/PostService.java
  src/main/java/com/ssafeople/backend/domain/post/service/PostServiceImpl.java
  src/main/java/com/ssafeople/backend/global/exception/post/PostNotExistException.java
  src/main/java/com/ssafeople/backend/global/exception/user/PostOwnerIsNotCurrentUserException.java
  src/main/java/com/ssafeople/backend/global/response/failure/ErrorCode.java
  src/test/java/com/ssafeople/backend/domain/post/service/PostServiceImplTest.java
Labels: backend, feat

#57 fix: DTO 수정
  src/main/java/com/ssafeople/backend/domain/user/presentation/UserController.java
  src/main/java/com/ssafeople/backend/domain/user/presentation/dto/request/ChangePasswordRequest.java
  src/main/java/com/ssafeople/backend/domain/user/presentation/dto/request/ChangePasswordVerificationRequest.java
  src/main/java/com/ssafeople/backend/domain/user/presentation/dto/request/EmailVerificationRequest.java
  src/main/java/com/ssafeople/backend/domain/user/presentation/dto/request/UserSignUpRequest.java
  src/main/java/com/ssafeople/backend/domain/user/presentation/dto/request/UserUpdateRequest.java
  src/main/java/com/ssafeople/backend/domain/user/presentation/dto/request/UserVerifyCodeRequest.java
Labels: backend, fix

#60 feat: 게시글 삭제 기능 구현
  src/main/java/com/ssafeople/backend/domain/post/presentation/PostController.java
  src/main/java/com/ssafeople/backend/domain/post/service/PostService.java
  src/main/java/com/ssafeople/backend/domain/post/service/PostServiceImpl.java
  src/test/java/com/ssafeople/backend/domain/post/service/PostServiceImplTest.java
Labels: backend, feat

#66 feat: 게시글 목록 조회 기능 페이징 구현
  src/main/java/com/ssafeople/backend/domain/post/domain/Post.java
  src/main/java/com/ssafeople/backend/domain/post/domain/repository/PostRepository.java
  src/main/java/com/ssafeople/backend/domain/post/presentation/PostController.java
  src/main/java/com/ssafeople/backend/domain/post/presentation/dto/response/PostDetailResponse.java
  src/main/java/com/ssafeople/backend/domain/post/presentation/dto/response/PostSummaryResponse.java
  src/main/java/com/ssafeople/backend/domain/post/service/PostService.java
  src/main/java/com/ssafeople/backend/domain/post/service/PostServiceImpl.java
  src/test/java/com/ssafeople/backend/domain/post/service/PostServiceImplTest.java
Labels: backend, feat, fix, chore

#68 feat: 댓글 도메인 구현
  src/main/java/com/ssafeople/backend/domain/comment/domain/Comment.java
Labels: backend, feat

#72 feat: 댓글 작성 기능 구현
  src/main/java/com/ssafeople/backend/domain/comment/presentation/CommentController.java
  src/main/java/com/ssafeople/backend/domain/comment/presentation/dto/request/CommentWriteRequest.java
  src/main/java/com/ssafeople/backend/domain/comment/service/CommentService.java
  src/main/java/com/ssafeople/backend/domain/comment/service/CommentServiceImpl.java
  src/test/java/com/ssafeople/backend/domain/comment/service/CommentServiceImplTest.java
Labels: backend, feat

#74 feat: 댓글 삭제 기능 구현
  src/main/java/com/ssafeople/backend/domain/comment/presentation/CommentController.java
  src/main/java/com/ssafeople/backend/domain/comment/service/CommentService.java
  src/main/java/com/ssafeople/backend/domain/comment/service/CommentServiceImpl.java
  src/main/java/com/ssafeople/backend/global/exception/comment/CommentNotExistException.java
  src/main/java/com/ssafeople/backend/global/exception/user/CommentOwnerIsNotCurrentUserException.java
  src/main/java/com/ssafeople/backend/global/response/failure/ErrorCode.java
  src/test/java/com/ssafeople/backend/domain/comment/service/CommentServiceImplTest.java
Labels: backend, feat

#76 feat: 채팅 기능 구현
  build.gradle
  src/main/java/com/ssafeople/backend/BackendApplication.java
  src/main/java/com/ssafeople/backend/domain/chatting/domain/message/ChattingMessage.java
  src/main/java/com/ssafeople/backend/domain/chatting/domain/message/repository/ChattingMessageRepository.java
  src/main/java/com/ssafeople/backend/domain/chatting/domain/room/ChattingRoom.java
  src/main/java/com/ssafeople/backend/domain/chatting/domain/room/repository/ChattingRoomRepository.java
  src/main/java/com/ssafeople/backend/domain/chatting/presentation/ChatDateController.java
  src/main/java/com/ssafeople/backend/domain/chatting/presentation/ChattingController.java
  src/main/java/com/ssafeople/backend/domain/chatting/presentation/dto/request/ChattingRequest.java
  src/main/java/com/ssafeople/backend/domain/chatting/presentation/dto/response/ChattingResponse.java
  src/main/java/com/ssafeople/backend/domain/chatting/service/ChattingService.java
  src/main/java/com/ssafeople/backend/domain/chatting/service/ChattingServiceImpl.java
  src/main/java/com/ssafeople/backend/domain/message/domain/Message.java
  src/main/java/com/ssafeople/backend/domain/message/domain/reopsitory/MessageRepository.java
  src/main/java/com/ssafeople/backend/domain/message/presentation/MessageController.java
  src/main/java/com/ssafeople/backend/domain/message/service/MessageService.java
  src/main/java/com/ssafeople/backend/domain/message/service/MessageServiceImpl.java
  src/main/java/com/ssafeople/backend/domain/messageroom/domain/MessageRoom.java
  src/main/java/com/ssafeople/backend/domain/messageroom/domain/repository/MessageRoomRepository.java
  src/main/java/com/ssafeople/backend/domain/messageroom/service/MessageRoomService.java
  src/main/java/com/ssafeople/backend/domain/messageroom/service/MessageRoomServiceImpl.java
  src/main/java/com/ssafeople/backend/global/config/SecurityConfig.java
  src/main/java/com/ssafeople/backend/global/database/BaseEntity.java
  src/main/java/com/ssafeople/backend/global/exception/chatting/NotExistChattingRoomException.java
  src/main/java/com/ssafeople/backend/global/exception/chatting/UserNotLoggedInException.java
  src/main/java/com/ssafeople/backend/global/response/failure/ErrorCode.java
  src/main/java/com/ssafeople/backend/global/stomp/StompHandler.java
  src/main/java/com/ssafeople/backend/global/stomp/WebSocketStompBrokerConfig.java
Labels: backend, feat

#78 fix: 데이터 반환 기능 수정
  src/main/java/com/ssafeople/backend/domain/chatting/presentation/ChattingController.java
  src/main/java/com/ssafeople/backend/domain/chatting/service/ChattingService.java
  src/main/java/com/ssafeople/backend/domain/chatting/service/ChattingServiceImpl.java
  src/main/java/com/ssafeople/backend/domain/comment/presentation/CommentController.java
  src/main/java/com/ssafeople/backend/domain/post/presentation/PostController.java
  src/main/java/com/ssafeople/backend/domain/user/presentation/UserController.java
  src/main/java/com/ssafeople/backend/global/response/success/SuccessResponseAdvice.java
Labels: backend, fix

#80 feat: 관리자 기능 구현
  build.gradle
  src/main/java/com/ssafeople/backend/domain/admin/presentation/AdminController.java
  src/main/java/com/ssafeople/backend/domain/admin/service/AdminService.java
  src/main/java/com/ssafeople/backend/domain/admin/service/AdminServiceImpl.java
  src/main/java/com/ssafeople/backend/domain/board/domain/Board.java
  src/main/java/com/ssafeople/backend/domain/board/service/BoardService.java
  src/main/java/com/ssafeople/backend/domain/board/service/BoardServiceImpl.java
  src/main/java/com/ssafeople/backend/domain/post/service/PostService.java
  src/main/java/com/ssafeople/backend/domain/post/service/PostServiceImpl.java
  src/main/java/com/ssafeople/backend/domain/user/service/UserService.java
  src/main/java/com/ssafeople/backend/domain/user/service/UserServiceImpl.java
  src/main/java/com/ssafeople/backend/global/annotation/AdminOnly.java
  src/main/java/com/ssafeople/backend/global/aop/AdminCheckAspect.java
  src/main/java/com/ssafeople/backend/global/config/SecurityConfig.java
  src/main/java/com/ssafeople/backend/global/exception/AdminExceptionHandler.java
  src/main/java/com/ssafeople/backend/global/exception/SsafeopleException.java
  src/main/java/com/ssafeople/backend/global/exception/admin/AdminLoginFailedException.java
  src/main/java/com/ssafeople/backend/global/exception/admin/NotAdminException.java
  src/main/java/com/ssafeople/backend/global/response/failure/ErrorCode.java
  src/main/resources/templates/admin/boards/boardForm.html
  src/main/resources/templates/admin/home.html
  src/main/resources/templates/admin/loginForm.html
  src/main/resources/templates/admin/posts/post.html
  src/main/resources/templates/admin/posts/posts.html
  src/main/resources/templates/admin/users/user.html
  src/main/resources/templates/admin/users/users.html
Labels: backend, feat

#81 feat: 좋아요 기능 구현
  src/main/java/com/ssafeople/backend/domain/board/presentation/BoardController.java
  src/main/java/com/ssafeople/backend/domain/board/presentation/dto/response/BoardInfoResponse.java
  src/main/java/com/ssafeople/backend/domain/board/service/BoardService.java
  src/main/java/com/ssafeople/backend/domain/board/service/BoardServiceImpl.java
  src/main/java/com/ssafeople/backend/domain/like/domain/Like.java
  src/main/java/com/ssafeople/backend/domain/like/domain/repository/LikeRepository.java
  src/main/java/com/ssafeople/backend/domain/like/service/LikeService.java
  src/main/java/com/ssafeople/backend/domain/like/service/LikeServiceImpl.java
  src/main/java/com/ssafeople/backend/domain/post/presentation/PostController.java
  src/main/java/com/ssafeople/backend/domain/post/service/PostService.java
  src/main/java/com/ssafeople/backend/domain/post/service/PostServiceImpl.java
  src/main/java/com/ssafeople/backend/global/exception/comment/CommentListEmptyException.java
  src/main/java/com/ssafeople/backend/global/exception/comment/CommentNotExistException.java
  src/main/java/com/ssafeople/backend/global/exception/like/AlreadyLikedException.java
  src/main/java/com/ssafeople/backend/global/exception/like/LikeNotExistsException.java
  src/main/java/com/ssafeople/backend/global/response/failure/ErrorCode.java
  src/test/java/com/ssafeople/backend/domain/like/service/LikeServiceImplTest.java
Labels: backend, feat, fix, chore

#84 fix: 채팅 기능 수정
  src/main/java/com/ssafeople/backend/domain/chatting/presentation/dto/request/ChattingRequest.java
  src/main/java/com/ssafeople/backend/global/stomp/WebSocketStompBrokerConfig.java
Labels: backend, fix

#86 Feat: 익명 채팅 기능 수정
  src/main/java/com/ssafeople/backend/domain/chatting/domain/message/ChattingMessage.java
  src/main/java/com/ssafeople/backend/domain/chatting/presentation/ChattingController.java
  src/main/java/com/ssafeople/backend/domain/chatting/presentation/dto/response/ChattingResponse.java
  src/main/java/com/ssafeople/backend/domain/chatting/service/ChattingService.java
  src/main/java/com/ssafeople/backend/domain/chatting/service/ChattingServiceImpl.java
  src/main/java/com/ssafeople/backend/domain/user/domain/User.java
  src/main/java/com/ssafeople/backend/domain/user/domain/repository/UserRepository.java
  src/main/java/com/ssafeople/backend/domain/user/domain/vo/UserInfoVo.java
  src/main/java/com/ssafeople/backend/domain/user/presentation/UserController.java
  src/main/java/com/ssafeople/backend/domain/user/presentation/dto/request/ChangeChattingNicknameRequest.java
  src/main/java/com/ssafeople/backend/domain/user/presentation/dto/response/MyInfoResponse.java
  src/main/java/com/ssafeople/backend/domain/user/service/UserService.java
  src/main/java/com/ssafeople/backend/domain/user/service/UserServiceImpl.java
  src/main/java/com/ssafeople/backend/global/exception/user/DuplicatedChattingNickname.java
  src/main/java/com/ssafeople/backend/global/response/failure/ErrorCode.java
  src/main/java/com/ssafeople/backend/global/stomp/StompHandler.java
  src/test/java/com/ssafeople/backend/domain/user/service/UserServiceImplTest.java
Labels: backend, fix
